{% extends "base.html" %}
{% block content %}
<h2>修改密码</h2>
<form method="post" class="row g-3">
    <div class="col-md-4">
        <label class="form-label">原密码</label>
        <input type="password" name="old_password" class="form-control" required>
    </div>
    <div class="col-md-4">
        <label class="form-label">新密码</label>
        <input type="password" name="new_password" class="form-control" required>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-warning">确认修改</button>
    </div>
</form>
{% endblock %}