{% extends "base.html" %}
{% block content %}
<h2>作业长控制台 - {{ current_user.department }}</h2>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>待审批加班：{{ ot_pending }} 条</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>待审批请假：{{ lv_pending }} 条</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}